<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

    <title>artist bigrams</title>
  </head>
  <body>
       <header>
           <nav class="navbar navbar-expand-md navbar-light bg-light">
               <div class="container">
                   <a class="navbar-brand" href="#">
<!--                       <img src="/images/logo.png" width="30"-->
<!--                            height="30" class="d-inline-block align-top img-responsive" alt="dk">-->
                       daniel keidar
                   </a>
                   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                           aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                       <span class="navbar-toggler-icon"></span>
                   </button>
                   <div class="collapse navbar-collapse" id="navbarNavDropdown">
                       <ul class="navbar-nav">
                           <li class="nav-item">
                               <a class="nav-link" href="https://dkeidar.github.io">home</a>
                           </li>
                           <li class="nav-item">
                               <a class="nav-link" href="https://www.linkedin.com/in/dkeidar" target="_blank">linkedin</a>
                           </li>
                           <li class="nav-item">
                               <a class="nav-link" href="#">hmu</a>
                           </li>
                           <li class="nav-item dropdown">
                               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   projects
                               </a>
                               <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                   <a class="dropdown-item" href="#">artist bigrams <span class="sr-only">(current)</span></a>
                               </div>
                           </li>
                       </ul>
                   </div>
               </div>
           </nav>
       </header>

<!--Jumbotron that houses site description and user input box-->
       <div class="container">
           <div class="jumbotron" style="padding-bottom:13px">

               <div class="container">
                   <h1 class="display-4 text-center">Choose an Artist</h1>
                   <p class="lead text-center">
                       if the artist is spelled correctly, on Genius.com, and Spotify, this should work
                   </p>
                   <p class="lead text-center" style="font-size:10px">
                       note: please include the full name of the artist/band because i did not build in error
                       handling for missing articles such as "the"
                   </p>
<!-- this is the user input form-->
                   <div class="row justify-content-center">
                       <form method="POST" action="{{ url_for('home') }}">
                           <div class="input-group">
                               <input type="text" class="form-control text-center" placeholder="artist"
                                     aria-label="artist" aria-describedby="button-addon2" name="artist">
                               <div class="input-group-append">
                                   <input type="submit" class="btn btn-outline-secondary"
                                         value="analyze" id="submit">
                              </div>
                           </div>
                       </form>
                   </div>

                   <div class="row justify-content-center", style="padding-bottom:0, padding-top:10px">
                       <div class="col-md-8 justify-content-center">
                           <p class='text-center' style="font-size:10px">
                               This will take a minute, please be patient.
                           </p>
                       </div>
                   </div>

               </div>
           </div>
       </div>

<!--section that prints out the album names and links-->
       <div class="container">

           {% for album in albums_urls %}

           <div class="row justify-content-center">
               <div class="col-md-8 text-center">
                   <a href="{{album.album_url}}">{{album.album_name}}</a>
               </div>
           </div>

           {% endfor %}

       </div>

<!--plot for all the bigrams n such-->
       <div class="container">
           <div class="row justify-content-center">
               <div class="col-md-8">
                   <div id="plot"></div>
                   <script src="plots.js"></script>
               </div>
           </div>
       </div>

       <footer class="footer fixed-bottom">
           <div class="container bg-light footer-dark">
               <div class="text-center">
                   &copy; Daniel Keidar 2020
               </div>
           </div>
       </footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
  </body>
</html>